.input-div{
  padding: 10% 40%;
}
.badge{
  border-radius:0;
  margin: 0;
}
.btns{
  padding-top: 20px;
}



.foot{
  position: absolute;
  left: 42%;
  bottom: 2%;
  padding: 0 ;
  margin: 0;
}
